<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tradist - your porfolio, visualized</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>
  <h1>Tradist</h1>
  <div class="container">
    Your portfolio, visualized
  </div>

  <hr>
  <div class="container">
    <% include ./partials/form.ejs %>
  </div>

</body>
</html>
