<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tradist - your porfolio, visualized</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/etpinard/plotlyjs-finance/master/plotlyjs-finance.js"></script>
  </head>
​
  <body>


      <div class="col-md-3" id="side-nav-bar">
        <br>
        <div id="brandtitle">
          <i class="fa fa-line-chart fa-3x"></i>
          <h1>TRADIST</h1>
        </div>

        <div id="side-menu">
            <br>
          <ul><i class="fa fa-user"></i>  Profile
            <li><a href="">Name</a></li>
            <li><a href="">Account Type</a></li>
          </ul>

          <br>
          <ul><i class="fa fa-bar-chart-o"></i>  Chart Types

            <li><a href="/candlestick">Candlestick</a></li>
            <li><a href="/heatmap">Heatmap</a></li>
            <li><a href="/histogram">Histogram</a></li>
            <li><a href="/timeseries">Time Series</a></li>
            <li><a href="/bubblechart">Bubble</a></li>

          </ul>
        </div>
​
      </div>
​
      <div class="col-md-9" id="chartcontent">

      <div id = "title">
          <h1>Tradist Charts</h1>
        <h4><span style="color:#404040">"You may not understand it fully right now but the market is always right."</span></h4>
      </div>

          <div class="jumbotron">
            <% include ./partials/candlestick.ejs %>
          </div>
​
          <div class="jumbotron">
            <% include ./partials/heatmap.ejs %>
          </div>
​
          <div class="jumbotron">
            <% include ./partials/histogram.ejs %>
          </div>
​
          <div class="jumbotron">
            <% include ./partials/timeseries.ejs %>
          </div>

          <div class="jumbotron">
            <% include ./partials/index.ejs %>
          </div>
​
      </div>
​
  </body>
</html>
