body {
  background-color: whitesmoke;
  font-size: 26px;
}

#side-nav-bar {
  background-color: #2A3F54;
  min-height: 3800px;
  max-width: 300px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

 /* so the menu or its navicon stays above all content */
	​
#side-menu {
  margin-top: 100px;
  background-color: #111921;
  align-content: center;
}
​
#side-menu ul {
  list-style-type: none;
  font-size: 2.0em;
}
​
#side-menu li {
  list-style: none;
  font-size: 1.2em;
}

#brandtitle {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

#chartcontent {
right: -300px;
}

#title {
  text-align: center;
}

li {
    list-style: none;
}

a{
  color: lightblue;
}
a:hover {
    color: lightgreen;
}

h1{
  text-align: center;
  font-size: 50px;
}
